In [172]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.3.1

In [173]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv')
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
lead_score,0.94,0.8,0.69,0.87,0.62
converted,1,0,1,0,1

columns are classified as  numerical and categorical based on their column values
Q1.Retail is the most frequent industry type of the leads

In [174]:
print(df.isnull().sum())
print(df.dtypes)
categorical_columns=list(df.columns[df.dtypes=='object'])
numerical_columns=list(df.columns[df.dtypes!='object'])


df[categorical_columns] = df[categorical_columns].fillna('NA')
df[numerical_columns] = df[numerical_columns].fillna(0)
df['industry'].mode()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64
lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

0    retail
Name: industry, dtype: object

Q2.Correlation between columns

interaction_count and lead_score  0.011374
number_of_courses_viewed and lead_score  0.011529
number_of_courses_viewed and interaction_count  -0.050187
annual_income and interaction_count -0.015510

In [175]:
from sklearn.model_selection import train_test_split
df_fulltrain,df_test=train_test_split(df,test_size=0.2,random_state=42)
df_train,df_val=train_test_split(df_fulltrain,test_size=0.25,random_state=42)
sum_of_df = len(df_test)+len(df_train)+len(df_val)
print(sum_of_df,len(df))
assert len(df) == sum_of_df


df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
print(len(df_train),len(df_val),len(df_test))

y_train = df_train['converted'].values
y_val = df_val['converted'].values
y_test= df_test['converted'].values
print(df_train[numerical_columns].corr())
del df_train['converted']
del df_val['converted']
del df_test['converted']

1462 1462
876 293 293
                          number_of_courses_viewed  annual_income  \
number_of_courses_viewed                  1.000000       0.001875
annual_income                             0.001875       1.000000
interaction_count                        -0.050187      -0.015510
lead_score                                0.011529       0.048096
converted                                 0.426480       0.016605

                          interaction_count  lead_score  converted
number_of_courses_viewed          -0.050187    0.011529   0.426480
annual_income                     -0.015510    0.048096   0.016605
interaction_count                  1.000000    0.011374   0.369941
lead_score                         0.011374    1.000000   0.219223
converted                          0.369941    0.219223   1.000000

Q3.Mutual information Ans: Lead_source

In [176]:

from sklearn.metrics import mutual_info_score

def mutual_info_score_series(series):
    return mutual_info_score(series,y_train)

mi=df_train[categorical_columns].apply(mutual_info_score_series)
mi.sort_values(ascending=False)

lead_source          0.035396
employment_status    0.012938
industry             0.011575
location             0.004464
dtype: float64

In [177]:
from IPython.display import display
for c in categorical_columns:
    display(df_fulltrain[c].unique())

array(['social_media', 'events', 'referral', 'paid_ads', 'organic_search',
       'NA'], dtype=object)

array(['manufacturing', 'retail', 'education', 'healthcare', 'finance',
       'NA', 'other', 'technology'], dtype=object)

array(['self_employed', 'student', 'NA', 'employed', 'unemployed'],
      dtype=object)

array(['australia', 'north_america', 'europe', 'asia', 'africa',
       'south_america', 'middle_east', 'NA'], dtype=object)

Q4. logistic regression  Ans 0.74

In [178]:
if 'converted' in numerical_columns:
    numerical_columns.remove('converted')
print(categorical_columns)
print(numerical_columns)
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical_columns + numerical_columns].to_dict(orient = 'records')
X_train=dv.fit_transform(train_dict)

val_dict = df_val[categorical_columns + numerical_columns].to_dict(orient = 'records')
X_val=dv.transform(val_dict)

test_dict = df_test[categorical_columns + numerical_columns].to_dict(orient = 'records')
X_test=dv.transform(test_dict)

['lead_source', 'industry', 'employment_status', 'location']
['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score']

In [179]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
print(X_train.shape)
model.fit(X_train,y_train)

y_pred= model.predict(X_val)
Accuracy_score =accuracy_score(y_val,y_pred)
print(round(Accuracy_score,2))

y_fulltrain = np.concatenate([y_train,y_val])
X_fulltrain_dict = train_dict+val_dict
X_fulltrain = dv.fit_transform(X_fulltrain_dict)
print(X_fulltrain.shape)
model.fit(X_fulltrain,y_fulltrain)
y_pred_n = model.predict(X_test)
print(round(accuracy_score(y_test,y_pred_n),2))

(876, 31)
0.7
(1169, 31)
0.74

Q5.Feature elimination
Which of following feature has the smallest difference?

'industry'
'employment_status'
'lead_score'

Ans :industry

In [180]:

def calculate_diff_in_Accuracies(X_dataset,X_vald):
    
    model.fit(X_dataset,y_train)
    y_pred = model.predict(X_vald)
    score = accuracy_score(y_val,y_pred)
    return Accuracy_score-score

In [181]:
totalcolumns = categorical_columns+numerical_columns
differences = {}
for c in totalcolumns:
    df_new = df_train.copy()
    df_val_new =df_val.copy().drop(c,axis=1)
    df_new = df_new.drop(c,axis=1)
    print(c)
    print(df_new.T)
    xnew_dict = df_new.to_dict(orient ='records')
    xval_dic =df_val_new.to_dict(orient ='records')
    X_new_train =dv.fit_transform(xnew_dict)
    x_vald = dv.transform(xval_dic)
    differences[c]=round(calculate_diff_in_Accuracies(X_new_train,x_vald),3)
differences

lead_source
                                  0              1              2    \
industry                       retail  manufacturing     technology
number_of_courses_viewed            0              3              3
annual_income                 58472.0        71738.0        81973.0
employment_status             student        student       employed
location                  middle_east    middle_east  north_america
interaction_count                   5              6              2
lead_score                       0.03           0.77           0.59

                                 3          4              5           6    \
industry                  technology     retail         retail     finance
number_of_courses_viewed           1          3              4           0
annual_income                74956.0    59335.0        50961.0         0.0
employment_status           employed    student        student  unemployed
location                      europe  australia  south_america      africa
interaction_count                  3          1              1           3
lead_score                      0.34       0.98            1.0        0.73

                                  7         8          9    ...  \
industry                       retail        NA  education  ...
number_of_courses_viewed            3         0          2  ...
annual_income                 45170.0   73717.0    61872.0  ...
employment_status             student  employed    student  ...
location                  middle_east      asia  australia  ...
interaction_count                   3         2          1  ...
lead_score                       0.38      0.28       0.01  ...

                                    866            867         868        869  \
industry                        finance         retail  healthcare  education
number_of_courses_viewed              3              1           5          6
annual_income                   45841.0        68616.0     78796.0    35212.0
employment_status              employed  self_employed  unemployed    student
location                  north_america  north_america   australia     africa
interaction_count                     3              7           3          1
lead_score                         0.34           0.32        0.69       0.54

                                    870        871            872        873  \
industry                         retail      other         retail  education
number_of_courses_viewed              4          1              3          3
annual_income                       0.0    43907.0        64969.0    89042.0
employment_status            unemployed   employed       employed   employed
location                  north_america  australia  north_america       asia
interaction_count                     3          4              1          4
lead_score                         0.78       0.33           0.18       0.75

                                    874      875
industry                  manufacturing  finance
number_of_courses_viewed              1        4
annual_income                       0.0  50259.0
employment_status         self_employed  student
location                         europe     asia
interaction_count                     1        3
lead_score                         0.65     0.54

[7 rows x 876 columns]
industry
                                  0               1              2    \
lead_source                  paid_ads  organic_search       paid_ads
number_of_courses_viewed            0               3              3
annual_income                 58472.0         71738.0        81973.0
employment_status             student         student       employed
location                  middle_east     middle_east  north_america
interaction_count                   5               6              2
lead_score                       0.03            0.77           0.59

                               3               4              5    \
lead_source                     NA  organic_search   social_media
number_of_courses_viewed         1               3              4
annual_income              74956.0         59335.0        50961.0
employment_status         employed         student        student
location                    europe       australia  south_america
interaction_count                3               1              1
lead_score                    0.34            0.98            1.0

                                   6            7               8    \
lead_source               social_media       events  organic_search
number_of_courses_viewed             0            3               0
annual_income                      0.0      45170.0         73717.0
employment_status           unemployed      student        employed
location                        africa  middle_east            asia
interaction_count                    3            3               2
lead_score                        0.73         0.38            0.28

                                     9    ...            866            867  \
lead_source               organic_search  ...       referral       paid_ads
number_of_courses_viewed               2  ...              3              1
annual_income                    61872.0  ...        45841.0        68616.0
employment_status                student  ...       employed  self_employed
location                       australia  ...  north_america  north_america
interaction_count                      1  ...              3              7
lead_score                          0.01  ...           0.34           0.32

                                 868       869            870             871  \
lead_source                   events  paid_ads       referral  organic_search
number_of_courses_viewed           5         6              4               1
annual_income                78796.0   35212.0            0.0         43907.0
employment_status         unemployed   student     unemployed        employed
location                   australia    africa  north_america       australia
interaction_count                  3         1              3               4
lead_score                      0.69      0.54           0.78            0.33

                                    872       873            874      875
lead_source                social_media        NA   social_media   events
number_of_courses_viewed              3         3              1        4
annual_income                   64969.0   89042.0            0.0  50259.0
employment_status              employed  employed  self_employed  student
location                  north_america      asia         europe     asia
interaction_count                     1         4              1        3
lead_score                         0.18      0.75           0.65     0.54

[7 rows x 876 columns]
employment_status
                                  0               1              2    \
lead_source                  paid_ads  organic_search       paid_ads
industry                       retail   manufacturing     technology
number_of_courses_viewed            0               3              3
annual_income                 58472.0         71738.0        81973.0
location                  middle_east     middle_east  north_america
interaction_count                   5               6              2
lead_score                       0.03            0.77           0.59

                                 3               4              5    \
lead_source                       NA  organic_search   social_media
industry                  technology          retail         retail
number_of_courses_viewed           1               3              4
annual_income                74956.0         59335.0        50961.0
location                      europe       australia  south_america
interaction_count                  3               1              1
lead_score                      0.34            0.98            1.0

                                   6            7               8    \
lead_source               social_media       events  organic_search
industry                       finance       retail              NA
number_of_courses_viewed             0            3               0
annual_income                      0.0      45170.0         73717.0
location                        africa  middle_east            asia
interaction_count                    3            3               2
lead_score                        0.73         0.38            0.28

                                     9    ...            866            867  \
lead_source               organic_search  ...       referral       paid_ads
industry                       education  ...        finance         retail
number_of_courses_viewed               2  ...              3              1
annual_income                    61872.0  ...        45841.0        68616.0
location                       australia  ...  north_america  north_america
interaction_count                      1  ...              3              7
lead_score                          0.01  ...           0.34           0.32

                                 868        869            870  \
lead_source                   events   paid_ads       referral
industry                  healthcare  education         retail
number_of_courses_viewed           5          6              4
annual_income                78796.0    35212.0            0.0
location                   australia     africa  north_america
interaction_count                  3          1              3
lead_score                      0.69       0.54           0.78

                                     871            872        873  \
lead_source               organic_search   social_media         NA
industry                           other         retail  education
number_of_courses_viewed               1              3          3
annual_income                    43907.0        64969.0    89042.0
location                       australia  north_america       asia
interaction_count                      4              1          4
lead_score                          0.33           0.18       0.75

                                    874      875
lead_source                social_media   events
industry                  manufacturing  finance
number_of_courses_viewed              1        4
annual_income                       0.0  50259.0
location                         europe     asia
interaction_count                     1        3
lead_score                         0.65     0.54

[7 rows x 876 columns]
location
                               0               1           2           3    \
lead_source               paid_ads  organic_search    paid_ads          NA
industry                    retail   manufacturing  technology  technology
number_of_courses_viewed         0               3           3           1
annual_income              58472.0         71738.0     81973.0     74956.0
employment_status          student         student    employed    employed
interaction_count                5               6           2           3
lead_score                    0.03            0.77        0.59        0.34

                                     4             5             6        7    \
lead_source               organic_search  social_media  social_media   events
industry                          retail        retail       finance   retail
number_of_courses_viewed               3             4             0        3
annual_income                    59335.0       50961.0           0.0  45170.0
employment_status                student       student    unemployed  student
interaction_count                      1             1             3        3
lead_score                          0.98           1.0          0.73     0.38

                                     8               9    ...       866  \
lead_source               organic_search  organic_search  ...  referral
industry                              NA       education  ...   finance
number_of_courses_viewed               0               2  ...         3
annual_income                    73717.0         61872.0  ...   45841.0
employment_status               employed         student  ...  employed
interaction_count                      2               1  ...         3
lead_score                          0.28            0.01  ...      0.34

                                    867         868        869         870  \
lead_source                    paid_ads      events   paid_ads    referral
industry                         retail  healthcare  education      retail
number_of_courses_viewed              1           5          6           4
annual_income                   68616.0     78796.0    35212.0         0.0
employment_status         self_employed  unemployed    student  unemployed
interaction_count                     7           3          1           3
lead_score                         0.32        0.69       0.54        0.78

                                     871           872        873  \
lead_source               organic_search  social_media         NA
industry                           other        retail  education
number_of_courses_viewed               1             3          3
annual_income                    43907.0       64969.0    89042.0
employment_status               employed      employed   employed
interaction_count                      4             1          4
lead_score                          0.33          0.18       0.75

                                    874      875
lead_source                social_media   events
industry                  manufacturing  finance
number_of_courses_viewed              1        4
annual_income                       0.0  50259.0
employment_status         self_employed  student
interaction_count                     1        3
lead_score                         0.65     0.54

[7 rows x 876 columns]
number_of_courses_viewed
                           0               1              2           3    \
lead_source           paid_ads  organic_search       paid_ads          NA
industry                retail   manufacturing     technology  technology
annual_income          58472.0         71738.0        81973.0     74956.0
employment_status      student         student       employed    employed
location           middle_east     middle_east  north_america      europe
interaction_count            5               6              2           3
lead_score                0.03            0.77           0.59        0.34

                              4              5             6            7    \
lead_source        organic_search   social_media  social_media       events
industry                   retail         retail       finance       retail
annual_income             59335.0        50961.0           0.0      45170.0
employment_status         student        student    unemployed      student
location                australia  south_america        africa  middle_east
interaction_count               1              1             3            3
lead_score                   0.98            1.0          0.73         0.38

                              8               9    ...            866  \
lead_source        organic_search  organic_search  ...       referral
industry                       NA       education  ...        finance
annual_income             73717.0         61872.0  ...        45841.0
employment_status        employed         student  ...       employed
location                     asia       australia  ...  north_america
interaction_count               2               1  ...              3
lead_score                   0.28            0.01  ...           0.34

                             867         868        869            870  \
lead_source             paid_ads      events   paid_ads       referral
industry                  retail  healthcare  education         retail
annual_income            68616.0     78796.0    35212.0            0.0
employment_status  self_employed  unemployed    student     unemployed
location           north_america   australia     africa  north_america
interaction_count              7           3          1              3
lead_score                  0.32        0.69       0.54           0.78

                              871            872        873            874  \
lead_source        organic_search   social_media         NA   social_media
industry                    other         retail  education  manufacturing
annual_income             43907.0        64969.0    89042.0            0.0
employment_status        employed       employed   employed  self_employed
location                australia  north_america       asia         europe
interaction_count               4              1          4              1
lead_score                   0.33           0.18       0.75           0.65

                       875
lead_source         events
industry           finance
annual_income      50259.0
employment_status  student
location              asia
interaction_count        3
lead_score            0.54

[7 rows x 876 columns]
annual_income
                                  0               1              2    \
lead_source                  paid_ads  organic_search       paid_ads
industry                       retail   manufacturing     technology
number_of_courses_viewed            0               3              3
employment_status             student         student       employed
location                  middle_east     middle_east  north_america
interaction_count                   5               6              2
lead_score                       0.03            0.77           0.59

                                 3               4              5    \
lead_source                       NA  organic_search   social_media
industry                  technology          retail         retail
number_of_courses_viewed           1               3              4
employment_status           employed         student        student
location                      europe       australia  south_america
interaction_count                  3               1              1
lead_score                      0.34            0.98            1.0

                                   6            7               8    \
lead_source               social_media       events  organic_search
industry                       finance       retail              NA
number_of_courses_viewed             0            3               0
employment_status           unemployed      student        employed
location                        africa  middle_east            asia
interaction_count                    3            3               2
lead_score                        0.73         0.38            0.28

                                     9    ...            866            867  \
lead_source               organic_search  ...       referral       paid_ads
industry                       education  ...        finance         retail
number_of_courses_viewed               2  ...              3              1
employment_status                student  ...       employed  self_employed
location                       australia  ...  north_america  north_america
interaction_count                      1  ...              3              7
lead_score                          0.01  ...           0.34           0.32

                                 868        869            870  \
lead_source                   events   paid_ads       referral
industry                  healthcare  education         retail
number_of_courses_viewed           5          6              4
employment_status         unemployed    student     unemployed
location                   australia     africa  north_america
interaction_count                  3          1              3
lead_score                      0.69       0.54           0.78


{'lead_source': -0.003,
 'industry': 0.0,
 'employment_status': 0.003,
 'location': -0.01,
 'number_of_courses_viewed': 0.143,
 'annual_income': -0.154,
 'interaction_count': 0.143,
 'lead_score': -0.007}